.Contact {
    background: #ECEBEB;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Contact h1 {
    text-align: center;
    margin-bottom: 3rem;
}
.Contact form{
    width: 62%;
}
.input_collection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.input_collection div {
    width: 45%;
}
.input_collection div input {
    width: 100%;
    padding: 16px 36px;
    border-radius: 16px;
    box-shadow: 0px 0px 4px 0px #00000040;
    outline: none;

}
::placeholder {
    color :#a9D9D9
}
textarea {
    width: 100%;
    padding: 16px 36px;
    border-radius: 16px;
    height: 157px;
    resize: none;
    outline: none;
    box-shadow: 0px 0px 4px 0px #00000040;
}
.Contact a {
    margin-top: 2rem;
}
@media screen and (max-width: 600px) {
    .Contact {
        background: #ECEBEB;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Contact h1 {
        margin-bottom: 1.5rem;
    }
    .Contact form{
        width: 62%;
    }
    .input_collection {
        flex-direction: column;
        width: 100%;
    }
    .input_collection div {
        width: 100%;
    }
    .input_collection div input {
        width: 100%;
        padding: 8px 18px;
        border-radius: 8px;
        box-shadow: 0px 0px 4px 0px #00000040;
        outline: none;
    
    }
    ::placeholder {
        color :#a9D9D9
    }
    textarea {
        width: 100%;
        padding: 8px 18px;
        border-radius: 8px;
        height: 79px;
        box-shadow: 0px 0px 4px 0px #00000040;
    }
    .Contact a {
        margin-top: 1rem;
    }
}
@media screen and (max-width: 992px) and (min-width: 600px){
    .Contact {
        background: #ECEBEB;
        padding: 34px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .Contact h1 {
        text-align: center;
        margin-bottom: 2rem;
    }
    .Contact form{
        width: 80%;
    }
    .input_collection {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;
    }
    .input_collection div {
        width: 40%;
    }
    .input_collection div input {
        width: 100%;
        padding: 16px 36px;
        border-radius: 16px;
        box-shadow: 0px 0px 4px 0px #00000040;
        outline: none;
    
    }
    ::placeholder {
        color :#a9D9D9
    }
    textarea {
        width: 100%;
        padding: 16px 36px;
        border-radius: 16px;
        height: 157px;
        resize: none;
        outline: none;
        box-shadow: 0px 0px 4px 0px #00000040;
    }
    .Contact a {
        margin-top: 2rem;
    }
}